<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Healing4U Project Mobile Web</title>
        <!-- Favicon-->
        <head profile="http://www.w3.org/2005/10/profile"/>
        <link rel="icon" type="image/x-icon" href="/bootstrap/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/our.js" crossorigin="anonymous"></script>
        <!-- kakao map api -->
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d62bcc05dfbf77b728800bcd01b64ec4&libraries=services,clusterer"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/bootstrap/css/styles.css" rel="stylesheet" />
        <link href="/bootstrap/css/custom.css" rel="stylesheet"/>
        <!-- Core theme JS -->
        <script src="/bootstrap/scripts.js"></script>
    </head>
    <body id="page-top">
            <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
<!--                <a class="navbar-brand" href="#page-top"><img src="/bootstrap/img/navbar-logo.svg" alt="..." /></a>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#my_weather">My Weather</a></li>
                        <li class="nav-item"><a class="nav-link" href="#our_weather">Our Weather</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Ranking</a></li>
                        <li class="nav-item"><a class="nav-link" href="#history">History</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead" id="my_weather">
            <div class="container">
                <div class="masthead-subheading">오늘 당신의 마음의 날씨는?</div>
                <div class="masthead-heading text-uppercase">{{allData.nowEmotion}}</div>
<!--                {{#isHappy}}-->
<!--                    <div class="masthead-emtion">-->
<!--                        <img src="/bootstrap/img/feel/smile.png" width=120>-->
<!--                    </div>-->
<!--                {{/isHappy}}-->
<!--                {{#isNone}}-->
<!--                    <div class="masthead-emtion">-->
<!--                        <img src="/bootstrap/img/feel/none.png" width=120>-->
<!--                    </div>-->
<!--                {{/isNone}}-->
<!--                {{#isSad}}-->
<!--                    <div class="masthead-emtion">-->
<!--                        <img src="/bootstrap/img/feel/sad.png" width=120>-->
<!--                    </div>-->
<!--                {{/isSad}}-->

                <p class="text-muted"> </p>
                <div>
                    <p class="masthead-article"> 당신과 같은 날씨인 사람들은 얼마나 될까요? <br> 아래 감정통계를 눌러 다른 사람들의 날씨도 알아보세요!</p>
                </div>
                <div>
                    <a class="btn btn-primary btn-xl text-uppercase" href="#our_weather ">감정통계</a>
                </div>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="our_weather">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">마음의 날씨</h2>
                    <h3 class="section-subheading text-muted">다른 사람들의 마음의 날씨는 어떤지 확인해봐요!</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <img src="/bootstrap/img/feel/smile.png" width=120>
                        <h4 class="my-3">맑음</h4>
                        <h5 class="text-muted">오늘 하루의 기분이 "맑음"인 사용자는 </br> {{allData.emotion0}}명입니다.</h5>
                        <!-- <h5 class="text-muted">* 명입니다.</h5> -->
                    </div>
                    <div class="col-md-4">
                        <img src="/bootstrap/img/feel/none.png" width=120>
                        <h4 class="my-3">흐림</h4>
                        <h5 class="text-muted">오늘 하루의 기분이 "흐림"인 사용자는 </br> {{allData.emotion1}}명입니다.</h5>
                        <!-- <h5 class="text-muted">* 명입니다.</h5> -->

                    </div>
                    <div class="col-md-4">
                        <img src="/bootstrap/img/feel/sad.png" width=120>
                        <h4 class="my-3">비</h4>
                        <h5 class="text-muted">오늘 하루의 기분이 "비"인 사용자는 </br>{{allData.emotion2}}명입니다.</h5>
                        <!-- <h5 class="text-muted">* 명입니다.</h5> -->

                    </div>
                </div>
            </div>
        </section>
        <!-- portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Ranking</h2>
                    <h3 class="section-subheading text-muted">다른 사람들이 가장 추천하는 힐링 광고는 무엇인지 확인해봐요!</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolio01">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://healing4ubucket.s3.ap-northeast-2.amazonaws.com/AD/hadong2.JPG" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">1위</div>
                                <div class="portfolio-caption-subheading text-muted">{{firstName}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolio02">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://healing4ubucket.s3.ap-northeast-2.amazonaws.com/AD/gochang_activity.JPG" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">2위</div>
                                <div class="portfolio-caption-subheading text-muted">{{secondName}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolio03">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="https://healing4ubucket.s3.ap-northeast-2.amazonaws.com/AD/gangneung.JPG" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">3위</div>
                                <div class="portfolio-caption-subheading text-muted">{{thirdName}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- history-->
        <section class="page-section" id="history">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">History</h2>
                    <h3 class="section-subheading text-muted">당신의 발걸음을 광고를 통해서 확인하세요!</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/bootstrap/img/feel/smile.png" alt="..."/></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a class="portfolio-link" data-bs-toggle="modal" href="#history01">
                                    <!-- <h4>가장 최근에 본 광고 1</h4> -->
                                    <h4 class="subheading">{{historyName1}}</h4>
                                </a>
                            </div>
                            <div class="timeline-body"><p class="text-muted">{{historyAddress1}}</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/bootstrap/img/feel/smile.png" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a class="portfolio-link" data-bs-toggle="modal" href="#history02">
                                    <!-- <h4>가장 최근에 본 광고 2</h4> -->
                                    <h4 class="subheading">{{historyName2}}</h4>
                                </a>
                            </div>
                            <div class="timeline-body"><p class="text-muted">{{historyAddress2}}</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/bootstrap/img/feel/smile.png" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a class="portfolio-link" data-bs-toggle="modal" href="#history03">
                                    <!-- <h4>가장 최근에 본 광고 3</h4> -->
                                    <h4 class="subheading">{{historyName3}}</h4>
                                </a>
                            </div>
                            <div class="timeline-body"><p class="text-muted">{{historyAddress3}}</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                당신의
                                <br />
                                기억에
                                <br />
                                닿기를
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Healing4U 2021</div>
                    <!-- <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a> -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- ranking Modals-->
        <!-- ranking item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolio01" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/bootstrap/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Ranking 1위</h2>
                                    <p class="item-intro text-muted">{{firstName}}</p>
                                    <img class="img-fluid d-block mx-auto" src="https://healing4ubucket.s3.ap-northeast-2.amazonaws.com/AD/hadong_activity.jpg" alt="..." />
                                    <p>{{firstDetail}}</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>전화번호:</strong>
                                            {{firstPhone}}
                                        </li>
                                        <li>
                                            <strong>위치:</strong>
                                            {{firstAddress}}
                                        </li>
                                        <!--네이버지도 표시할 공간-->
<!--                                        <li>-->
<!--                                            <div id="map2" style="width:100%;height:350px;"></div>-->
<!--                                        </li>-->
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" type="button" onclick="location.href = '{{firstLink}}'">
                                         길찾기
                                    </button>
                                    <i class="fas fa-times me-1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ranking item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolio02" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/bootstrap/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Ranking 2위</h2>
                                    <p class="item-intro text-muted">{{secondName}}</p>
                                    <img class="img-fluid d-block mx-auto" src="https://healing4ubucket.s3.ap-northeast-2.amazonaws.com/AD/gochang_activity.JPG" alt="..." />
                                    <p>{{secondDetail}}</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>전화번호:</strong>
                                            {{secondPhone}}
                                        </li>
                                        <li>
                                            <strong>위치:</strong>
                                            {{secondAddress}}
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" type="button" onclick="location.href = '{{secondLink}}'">
                                        <!-- x 아이콘 표시 -->
                                        <!-- <i class="fas fa-times me-1"></i> -->
                                        길찾기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ranking item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolio03" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/bootstrap/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Ranking 3위</h2>
                                    <p class="item-intro text-muted">{{thirdName}}</p>
                                    <img class="img-fluid d-block mx-auto" src="https://healing4ubucket.s3.ap-northeast-2.amazonaws.com/AD/gangneung.JPG" alt="..." />
                                    <p></p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>전화번호:</strong>
                                            {{thirdPhone}}
                                        </li>
                                        <li>
                                            <strong>위치:</strong>
                                            {{thirdAddress}}
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" type="button" onclick="location.href = '{{thirdLink}}'">
                                        <!-- x 아이콘 표시 -->
                                        <!-- <i class="fas fa-times me-1"></i> -->
                                        길찾기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- History-->
        <div class="portfolio-modal modal fade" id="history01" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/bootstrap/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">최근 History</h2>
                                    <p class="item-intro text-muted">{{historyName1}}</p>
                                    <img class="img-fluid d-block mx-auto" src="https://healing4ubucket.s3.ap-northeast-2.amazonaws.com/AD/gangneung.JPG" alt="..." />
                                    <p>{{historyDetail1}} </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>전화번호:</strong>
                                            {{historyPhone1}}
                                        </li>
                                        <li>
                                            <strong>위치:</strong>
                                            {{historyAddress1}}
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" type="button" onclick="location.href = '{{historyLink1}}'">
                                        길찾기
                                    </button>
                                    <i class="fas fa-times me-1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- history item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="history02" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/bootstrap/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- advertisement details-->
                                    <h2 class="text-uppercase">최근 History</h2>
                                    <p class="item-intro text-muted">{{historyName2}}</p>
                                    <img class="img-fluid d-block mx-auto" src="/bootstrap/img/feel/smile.png" alt="..." />
                                    <p>{{historyDetail2}}</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>전화번호:</strong>
                                            {{historyPhone2}}
                                        </li>
                                        <li>
                                            <strong>위치:</strong>
                                            {{historyAddress2}}
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" type="button" onclick="location.href = '{{historyLink2}}'">
                                        <!-- x 아이콘 표시 -->
                                        <!-- <i class="fas fa-times me-1"></i> -->
                                        길찾기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- history item 3 modal popup-->
            <div class="portfolio-modal modal fade" id="history02" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-bs-dismiss="modal"><img src="/bootstrap/img/close-icon.svg" alt="Close modal" /></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="modal-body">
                                        <!-- advertisement details-->
                                        <h2 class="text-uppercase">최근 History</h2>
                                        <p class="item-intro text-muted">{{historyName3}}</p>
                                        <img class="img-fluid d-block mx-auto" src="/bootstrap/img/feel/smile.png" alt="..." />
                                        <p>{{historyDetail3}}</p>
                                        <ul class="list-inline">
                                            <li>
                                                <strong>전화번호:</strong>
                                                {{historyPhone3}}
                                            </li>
                                            <li>
                                                <strong>위치:</strong>
                                                {{historyAddress3}}
                                            </li>
                                        </ul>
                                        <button class="btn btn-primary btn-xl text-uppercase" type="button" onclick="location.href = '{{historyLink3}}'">
                                            <!-- x 아이콘 표시 -->
                                            <!-- <i class="fas fa-times me-1"></i> -->
                                            길찾기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- userId setting modal popup -->
<!--        <div id="container" class="popup-container">-->
<!--            <div class="popup">-->
<!--                <button id="close" class="close">-->
<!--                    X-->
<!--                </button>-->
<!--                <h1>📝사용자 ID 등록하기</h1>-->
<!--                <p>옥외패널에서 제공한 사용자의 아이디를 <br/> 등록한 후에, 관련 서비스를 제공받을 수 있습니다.</p>-->
<!--                <div>-->
<!--                    <input type="text" id="myid" placeholder="아이디를 숫자로 입력하세요.">-->
<!--                </div>-->
<!--                <button class="cta" onclick="setMyId()">등록하기</button>-->
<!--            </div>-->
<!--        </div>-->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
<!--        <script src="/bootstrap/scripts.js"></script>-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!--        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->
<!--            <script>-->
<!--                var mapContainer2 = document.getElementById('map2'), // 지도를 표시할 div-->
<!--                    mapOption2 = {-->
<!--                        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표-->
<!--                        level: 3 // 지도의 확대 레벨-->
<!--                    };-->
<!--                var map2 = new kakao.maps.Map(mapContainer2, mapOption2); // 지도를 생성합니다-->
<!--                // 마커가 표시될 위치입니다-->
<!--                var markerPosition = new kakao.maps.LatLng(33.450701, 126.570667);-->
<!--                // 마커를 생성합니다-->
<!--                var marker = new kakao.maps.Marker({-->
<!--                    position: markerPosition-->
<!--                });-->
<!--                // 마커가 지도 위에 표시되도록 설정합니다-->
<!--                marker.setMap(map2);-->
<!--            </script>-->
            <script src = "/bootstrap/scripts.js"></script>
    </body>

</html>
