<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/bootstrap/css/modal.css" rel="stylesheet"/>
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ko.min.js"></script>
</head>
<body>
<!-- <button id="show">팝업열기</button> -->
<div class="background">
    <div class="window">
        <div class="popup">
            <button id="close" class="close">
                X
            </button>
            <h1>📝사용자 ID 등록하기</h1>
            <p>옥외패널에서 제공한 사용자의 아이디를 등록한 후에, <br/>관련 서비스를 제공받을 수 있습니다.</p>
            <div>
                <input type="text" id="myid" placeholder="아이디를 숫자로 입력하세요."/>
            </div>
            <button class="cta">등록하기</button>
            <a href=""
        </div>
    </div>
</div>

<script src="/bootstrap/scripts.js"></script>
</body>
</html>